
/*=============================================
=            Button Styles            =
=============================================*/
.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none !important;
        outline: none;
        border: none;
        padding: .5rem 2rem;
        margin-bottom: 1rem;
        display: inline-block;
        transition: all .3s;
        position: relative;
        font-size: $default-font-size;
        text-align: center;
        cursor: pointer;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active,
    &:focus {
        outline: none;
        color: inherit;
    }

    &-rounded {
      border-radius: 10rem;
    }
}
/*=====  End of Button Styles  ======*/
