.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none !important;
        padding: .2rem 3rem;
        margin-bottom: 1rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .3s;
        position: relative;
        font-size: $default-font-size;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

    
    &:active,
    &:focus {
        outline: none;
        color: inherit;
        box-shadow: 0rem .5rem 1rem rgba($color-dark-blue,.2);
    }
    
    &-white {
        background-color: $color-white;
        color: $color-orange !important;
        border: .2rem solid $color-white;

        &:hover {
            background-color: $color-orange;
            color: $color-white !important;
            text-decoration: none !important;
        }
    }

    &-orange {
        background-color: $color-white;
        color: $color-orange;
        border: .3rem solid $color-orange;

        &:hover {
            background-color: $color-orange;
            color: $color-white !important;
            text-decoration: none !important;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &-blue-arrow {
        width: 1rem !important;
        background-color: $color-bright-blue;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-black;
        display: inline-block;
        text-decoration: none;
        border-bottom: 0.1rem solid $color-black;
        padding: 0.3rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-black;
        color: $color-white;
        box-shadow: 0rem 1rem 2rem rgba($color-black, .15);
        transform: translateY(-0.2rem);
    }

    &:active {
        box-shadow: 0rem .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}