
/*=============================================
=            Typography Styles            =
=============================================*/
body {
		font-family: $font-primary;
		line-height: 2.5rem;
		font-size: $default-font-size;
    color: $color-royal-blue;
}
%heading {
	font-family: $font-headers;
	margin: 2rem 0rem;
}
h1 {
	@extend %heading;
	font-weight: 700;
	font-size: 4rem;
	line-height: 4rem;
	color: $color-black;
}
h2 {
	@extend %heading;
	font-weight: 800;
	font-size: 4rem;
	line-height: 4rem;
	color: $color-bright-blue;
}
h3 {
	@extend %heading;
	font-weight: 800;
	font-size: 2.5rem;
	line-height: 2.5rem;
	color: $color-bright-blue;
}
h4 {
	@extend %heading;
	font-weight: 700;
	font-size: 2.5rem;
	color: $color-yellow;
}
h5, h6 {
	font-size: 1.2rem;
}
dt {
	@extend %heading;
	font-weight: 700;
	font-size: 2.5rem;
	color: $color-yellow;
	margin: 2rem 0rem 1rem 0rem;
}
dd {
	margin-bottom: 4rem;
}
a {
	transition: all 0.2s ease-in;
}
a:link {
	text-decoration: none;
	color: $color-bright-blue;
}

a:visited {
	text-decoration: underline;
	color: $color-bright-blue;
}

a:hover {
	text-decoration: underline;
	color: $color-light-blue;
}

a:active {
	text-decoration: none;
	color: $color-light-blue;
}
/*=====  End of Typography Styles  ======*/
