.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem !important;
    @media only screen and (min-width: $bp-medium) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 5rem !important;
    @media only screen and (min-width: $bp-medium) {
        margin-bottom: 8rem !important;
    }
}

.u-margin-bottom-huge {
    margin-bottom: 7rem !important;
    @media only screen and (min-width: $bp-medium) {
        margin-bottom: 10rem !important;
    }
}
.u-margin-top-small {
    margin-top: 1.5rem !important;
}

.u-margin-top-medium {
    margin-top: 3rem !important;
    @media only screen and (min-width: $bp-medium) {
        margin-top: 5rem !important;
    }
}

.u-margin-top-big {
    margin-top: 5rem !important;
    @media only screen and (min-width: $bp-medium) {
        margin-top: 8rem !important;
    }
}

.u-margin-top-huge {
    margin-top: 7rem !important;
    @media only screen and (min-width: $bp-medium) {
        margin-top: 10rem !important;
    }
}

.list-inline {
    list-style: none;
    li {
        display: inline;
    }
}

.two-column-list {
    columns: 2;
    list-style-position: inside;
}

.three-column-list {
    columns: 2;
    list-style-position: inside;
    @media only screen and (min-width: $bp-medium) {
        columns: 3;
    }
}

@media only screen and (max-width:$bp-small) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (max-width:$bp-medium) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (max-width:$bp-large) {
    .hidden-md {
        display: none;
    }
}

@media only screen and (min-width:$bp-largest) {
    .hidden-lg {
        display: none;
    }
}