@mixin flex-align-items($align-items) {
    @if $align-items == flexstart {
        align-items: flex-start;
    }
    @if $align-items == flexend {
        align-items: flex-end;
    }
    @if $align-items == center {
        align-items: center;
    }
    @if $align-items == baseline {
        align-items: baseline;
    }
    @if $align-items == stretch {
        align-items: stretch;
    }
}
@mixin flex-justify-content($justify-content) {
    @if $justify-content == flexstart {
        align-items: flex-start;
    }
    @if $justify-content == flexend {
        align-items: flex-end;
    }
    @if $justify-content == center {
        align-items: center;
    }
    @if $justify-content == spacearound {
        align-items: space-around;
    }
    @if $justify-content == spacebetween {
        align-items: space-between;
    }
    @if $justify-content == spaceevenly {
        align-items: space-evenly;
    }
}

