// COLORS
$color-dark-blue: #171949;
$color-orange: #EEA54C;
$color-green: #39A56E;
$color-light-blue: #74ADCF;
$color-bright-blue: #36B1E3;
$color-light-grey: #E9EAEA;
$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-headers: 'Nunito', sans-serif;
$font-primary: 'Roboto', sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;