// COLORS
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-dark-blue: rgba(9, 64, 116, 1);
$color-royal-blue: rgba(60, 105, 151, 1);
$color-light-blue: rgba(51, 102, 153, 1);
$color-royal-blue: rgba(47, 72, 88, 1);
$color-bright-blue: rgba(90, 219, 255, 1);
$color-yellow: rgba(255, 209, 102, 1);
$color-orange: rgba(254, 144, 0, 1);
$color-lime-green: rgba(158, 228, 147, 1);
$color-light-green: rgba(218, 247, 220, 1);
$color-light-grey: rgb(178, 175, 187);

// FONT VARIABLES
$font-headers: 'Nunito', sans-serif;
$font-primary: 'Roboto', sans-serif;
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$screen-largest: 120rem;
$screen-larger: 110rem;
$screen-large: 90rem;
$screen-medium: 80rem;
$screen-small: 60rem;