.content {
    a {
        &:link {
            color: $color-orange;
            font-weight: 600;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &-wrapper {
        padding: 0rem 2rem;
        @media only screen and (min-width: $bp-medium) {
            margin: 0 auto;
            max-width: 100rem;
            padding: 0rem;
        }
    }
}
