
/*=============================================
=            Content Styles            =
=============================================*/
#mainContent {
    //background-color: $color-light-green;
    @include flex-justify-content(spaceevenly);
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .main-content {
        flex: 1 1 75%;
        padding-right: 8rem;
    }
    aside {
        flex: 0 1 25%;
    }
    aside.right {
        order: 1;
    }
    aside.left {
        order: 0;
    }
}
/*=====  End of Content Styles  ======*/
