
/*=============================================
=            Footer Styles            =
=============================================*/
#footer {
    background-color: $color-lime-green;
    color: $color-light-green;
    display: flex;
    justify-content: space-evenly;
}
/*=====  End of Footer Styles  ======*/
